html {
    
    scroll-behavior: smooth;
}

* {
  -webkit-user-select: none; /* Chrome, Safari */
  -moz-user-select: none;    /* Firefox */
  -ms-user-select: none;     /* IE/Edge */
  user-select: none;         /* Standard */
}
img{
  -webkit-user-drag: none;   /* Chrome, Safari */
  user-drag: none;
  pointer-events: none;  
}