html {
    
    scroll-behavior: smooth;
}

* {
  -webkit-user-select: none; 
    -moz-user-select: none;   
  -ms-user-select: none;     
  user-select: none;        
}
img{
  -webkit-user-drag: none;   
  user-drag: none;
  pointer-events: none;  
}