name: Deploy Vite App to VPS

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: self-hosted

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version: 20

      - name: Install dependencies
        run: npm install

      - name: Build Vite app
        run: npm run build

      - name: Deploy to Nginx
        run: |
          # Remove old build
          rm -rf /var/www/react-app/*

          # Copy new build
          cp -r dist/* /var/www/react-app/

          # Fix ownership and permissions so Nginx can read
          sudo chown -R www-data:www-data /var/www/react-app
          sudo chmod -R 755 /var/www/react-app

      - name: Reload Nginx
        run: sudo systemctl reload nginx
